body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: slategray;
    font-family: cursive;
}

.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    font-family: cursive;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: right;
}